         <!-- feed list 영역 -->
         <%if(dataYn=='0'){%>
             떠벌림 목록이 없습니다.
         <%}else{%>
             <%for(let i=0;i<result.length;i++){%>
             <div class="feed-list" id="feed-list">
                 <!-- feed list 헤더 -->
                 <div class="feed-list-header">
                     <img src="image/icon.png" class=".img-thumbnail icon-img">
                     <span class="nickname"><%=result[i].nick_name%></span>
                     <%if(result[i].user_email == loginEmail){%>
                      <i class='fas fa-ellipsis-h' data-toggle="modal" data-target="#myModal<%=i%>" style='font-size:32px;color:rgb(38, 38, 38);'></i>
                    
                      <!-- The Modal -->
                      <div class="modal" id="myModal<%=i%>">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                          
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title"><%=result[i].profess_title%></h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            
                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="list-group">
                                    <a onclick="goUpdateFeedForm('<%=i%>','<%=result[i].profess_no%>','<%=result[i].professdt_no%>');" class='list-group-item list-group-item-action list-group-item-light modal-text feed-update-btn'>
                                        <span class="nickname">수정</span>	
                                    </a>
                                    <a onclick="deleteFeed('<%=i%>','<%=result[i].profess_no%>','<%=result[i].professdt_no%>');" class="list-group-item list-group-item-action list-group-item-light modal-text feed-delete-btn">
                                        <span class="nickname">삭제</span>	
                                    </a>
                                </div>
                            </div>
                            
                            <!-- Modal footer -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                      <%}%>
                 </div>
                 <!-- //feed list 헤더 -->
                 <!-- feed list 바디 -->
                    <%if(result[i].img_path){%>
                    <img class="feedimg" src="./upload/<%=result[i].img_path%>">
                    <%}%>
                    
                    <!-- feed 버튼 영역(좋아요, 댓글) -->
                    <div class="feed-list-button">
                        <% if(result[i].good_yn == '1'){%>
                        <i id='heartGood<%=i%>' class='fas fa-heart' onclick="javascript:pushGood('<%=result[i].profess_no%>','<%=result[i].professdt_no%>', '<%=i%>');" style='font-size:32px;color:red'></i>
                        <%}else{%>
                        <i id='heartGood<%=i%>' class='far fa-heart' onclick="javascript:pushGood('<%=result[i].profess_no%>','<%=result[i].professdt_no%>', '<%=i%>');" style='font-size:32px;color:red'></i>    
                        <%}%>
                        좋아요 <span id='goodCnt<%=i%>'><%=result[i].good_cnt%></span>개
                    </div> 
                    <!--// feed 버튼 영역(좋아요, 댓글) -->
                    
                    <!-- feed 텍스트 영역 -->
                    <div class="feed-list-text">
                        <div style="font-size: 40px;"><%=result[i].profess_title%></div>
                        <div><%=result[i].profess_content%></div>
                    </div>
                    <!--// feed 텍스트 영역 -->
                 <!-- /feed list 바디 -->
             </div>
             <!--// feed list 영역 -->
             <%}%>
         <%}%>
     </div>
 </div>