         <!-- feed list 영역 -->
         <%if(dataYn=='0'){%>
             떠벌림 목록이 없습니다.
         <%}else{%>
             <%for(let i=0;i<result.length;i++){%>
             <div class="feed-list" id="feed-list">
                 <!-- feed list 헤더 -->
                 <div class="feed-list-header">
                     <img src="image/icon.png" class=".img-thumbnail icon-img">
                     <span class="nickname"><%=result[i].nick_name%></span>
                     <%=result[i].profess_title%>
                     <%if(result[i].user_email == loginEmail){%>
                      <i class='fas fa-ellipsis-h' data-toggle="modal" data-target="#myModal<%=i%>" style='font-size:32px;color:rgb(38, 38, 38);'></i>
                    
                      <!-- The Modal -->
                      <div class="modal" id="myModal<%=i%>">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                          
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title"><%=result[i].profess_title%></h4>
                              <button type="button" class="close" data-dismiss="modal<%=i%>">&times;</button>
                            </div>
                            
                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="list-group">
                                    <a onclick="goUpdateFeedForm('<%=i%>','<%=result[i].profess_no%>','<%=result[i].professdt_no%>');" class='list-group-item list-group-item-action list-group-item-light modal-text feed-update-btn'>
                                        <span class="nickname">수정</span>	
                                    </a>
                                    <a onclick="deleteFeed('<%=i%>','<%=result[i].profess_no%>','<%=result[i].professdt_no%>');" class="list-group-item list-group-item-action list-group-item-light modal-text feed-delete-btn">
                                        <span class="nickname">삭제</span>	
                                    </a>
                                </div>
                            </div>
                            
                            <!-- Modal footer -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal<%=i%>">Close</button>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                      <%}%>
                 </div>
                 <!-- //feed list 헤더 -->
                 <!-- feed list 바디 -->
                 <!-- <div id="demo" class="carousel slide text-align-center" data-ride="carousel"> -->
                                         <!-- Indicators -->
                     <!-- <ul class="carousel-indicators">
                         <li data-target="#demo" data-slide-to="0" class="active"></li>
                         <li data-target="#demo" data-slide-to="1"></li>
                         <li data-target="#demo" data-slide-to="2"></li>
                     </ul> -->
 
                     <!-- The slideshow -->
                     <!-- <div class="carousel-inner">
                         <div class="carousel-item active"> -->
                             <%if(result[i].img_path){%>
                             <img class="feedimg" src="./upload/<%=result[i].img_path%>">
                             <%}%>
                             <!--	</div>
                          <div class="carousel-item">
                             <img class="feedimg" src="./image/feed2.png">
                         </div>
                         <div class="carousel-item">
                             <img class="feedimg" src="./image/feed1.png">
                         </div> -->
                     <!-- </div>-->
  
                     <!-- Left and right controls -->
                     <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
                         <span class="carousel-control-prev-icon"></span>
                     </a> <a class="carousel-control-next" href="#demo" data-slide="next">
                         <span class="carousel-control-next-icon"></span>
                     </a> 
                 </div> -->
                 
                 <!-- feed 버튼 영역(좋아요, 댓글) -->
                  <div class="feed-list-button">
                     <i class='fas fa-heart' onclick="javascript:pushGood();" style='font-size:32px;color:red'></i>
                     <!-- <i class='far fa-heart' style='font-size:32px;color:red'></i> -->
                      <i class='far fa-comment-dots' style="font-size:32px;color:rgb(38, 38, 38);"></i>
                     좋아요 <%=result[i].good_cnt%>
                 </div> 
                 <!--// feed 버튼 영역(좋아요, 댓글) -->
                 
                 <!-- feed 텍스트 영역 -->
                 <div class="feed-list-text">
                     <%=result[i].profess_content%>
                 </div>
                 <!--// feed 텍스트 영역 -->
                 
                 <!-- feed 댓글 영역 -->
                 <!-- <div class="feed-list-reply">
                     <div><span class="nickname">갓릿슈</span> : 저는 매일 한 시간씩 걸을 거라는 친구의 말에 하루에 한번씩 친구에게 태클을 걸기로 했습니다!</div>
                     <div><span class="nickname">구독자1만명가즈아</span> : 응원합니다!</div>
                 </div> -->
                 <!--// feed 댓글 영역 -->
                 <!-- /feed list 바디 -->
             </div>
             <!--// feed list 영역 -->
             <%}%>
         <%}%>
     </div>
 </div>